<ul class="nav nav-pills bg-primary text-light font-weight-bold p-4">

  <li class="nav-item mr-4">
    <a routerLink="" class="btn text-light">
      <img src="https://www.shareicon.net/data/128x128/2015/10/30/664238_man_512x512.png" alt="" height="50px" width="60px">
      ALGORITBUILD</a>
  </li>

  <li class="nav-item mr-2">
    <a class="btn btn-outline-light" routerLink="about">Sobre nosotros</a>
  </li>
  <li class="nav-item mr-2">
    <a class="btn btn-outline-light" routerLink="/home">Informate</a>
  </li>
  <li class="nav-item mr-2">
    <a class="btn btn-outline-light" routerLink="/home">Encuesta</a>
  </li>

  <li class="nav-item mr-2">
    <a class="btn btn-outline-light" routerLink="/home">Juegos</a>
  </li>
</ul>