<div class="header-jumbotron bg-black font-weight-light">

  <fa-icon icon="brain" class="mr-2"></fa-icon>
  <small class="font-weight-light">ALGORITBUILD</small>
  
</div>
<div class="font-weight-light pl-5 pr-5  shadow sticky-top bg-black">
  <div class="container pl-5 pr-5 pt-2 pb-2">

    <a routerLink="" class=" text-light">
      <fa-icon icon="brain" class="mr-2"></fa-icon>
      <small>ALGORITBUILD</small>
    </a>

    <a class=" text-light   pl-3 pr-3" routerLink="about">
      <small>Sobre nosotros</small>
      <!-- <fa-icon icon="users"></fa-icon> -->
    </a>

    <a class=" text-light  pl-3 pr-3" routerLink="/info">
      <small>Informate</small>
      <!-- <fa-icon icon="info-circle"></fa-icon> -->
    </a>

    <a class="text-light   pl-3 pr-3" routerLink="/test">
      <small>Encuesta</small>
      <!-- <fa-icon icon="poll"></fa-icon> -->
    </a>

    <a class=" text-light  pl-3 pr-3" routerLink="/games">
      <small>Juegos</small>
      <!-- <fa-icon icon="gamepad"></fa-icon> -->
    </a>

    <div class=" text-light  float-right pl-4">
      <fa-icon icon="{{iconUser}}" class="ml-2" *ngIf="isAuthenticated"></fa-icon>
      <small *ngIf="isAuthenticated" class="pr-1 hover"> {{user.firstName }} {{user.firstSurname}} </small>
      <fa-icon icon="{{icon}}" class="ml-2" (click)="action()"></fa-icon>
    </div>

  </div>
</div>