<div class="bg-light p-5">

  <div  >

    <button class="btn btn-primary btn-lg m-1" (click)="dataByTest()">Datos por encuesta</button>
    <button class="btn btn-primary btn-lg m-1" (click)="dataByGroups()">Datos por gupos</button>

  </div>
  <hr>

  <table class="table table-hover m-1 table-bordered p-2" *ngIf="byTest">
    <caption>{{test.title}} <br>
      <small>{{test.description}}</small></caption>
    <thead>
      <tr>
        <th scope="col">PREGUNTA</th>
        <th scope="col">ESTUDIANTES QUE RESPONDIERON CORRECTAMENTE</th>
        <th scope="col">ESTUDIANTES QUE RESPONDIERON INCORRECTAMENTE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data ">
        <!-- <th scope="row"></th> -->
        <td>¿ {{data.question}} ?.</td>
        <td>{{data.correctas}}</td>
        <td>{{data.incorrectas}}</td>
      </tr>
    </tbody>
  </table>


  <div class="row" *ngIf="byGroup">
    <div class="field col-4">
      <label for="exampleFormControlSelect1">GRUPO</label>
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="user.group" required>
        <option *ngFor="let group of group">{{group}}</option>
      </select>
    </div>

    <div class="field col-8">
      <label for="exampleFormControlSelect1">PROGRAMA</label>
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="user.program" required>
        <option *ngFor="let program of program">{{program}}</option>
      </select>
    </div>
  </div>

  <hr>
  <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>

</div>