<div class="bg-light p-5">
  <div>
    <h3>{{test.title}} <br>
      <small>{{test.description}}</small>
    </h3>
  </div>

  <div>
    <button class="btn btn-primary btn-lg m-1" (click)="showByTest()">Datos por encuesta</button>
    <button class="btn btn-primary btn-lg m-1" (click)="showByGroups()">Datos por gupos</button>
  </div>
  <hr>
  <table class="table table-hover m-2 table-bordered p-2" [hidden]="!byTest">
    <thead class="thead-dark">
      <tr>
        <th scope="col">PREGUNTA</th>
        <th scope="col">ESTUDIANTES QUE RESPONDIERON CORRECTAMENTE</th>
        <th scope="col">ESTUDIANTES QUE RESPONDIERON INCORRECTAMENTE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataTestObservable | async">
        <td class="font-weight-bold">¿ {{data.question}} ?.</td>
        <td>{{data.correctas}}</td>
        <td>{{data.incorrectas}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row" [hidden]="!byGroup">
    <div class="field col-4">
      <label for="exampleFormControlSelect1">GRUPO</label>
      <select class="form-control custom-select" id="exampleFormControlSelect1" (click)="dataByGroups()"
        [(ngModel)]="selectedGroup" required>
        <option *ngFor="let group of group">{{group}}</option>
      </select>
    </div>
    <div class=" col-8">
      <label for="exampleFormControlSelect1">PROGRAMA</label>
      <div class="input-group mb-3">
        <select class="form-control custom-select" id="exampleFormControlSelect1" [(ngModel)]="selectedProgram"
          (click)="dataByGroups()" required>
          <option *ngFor="let program of program">{{program}}</option>
        </select>
        <!-- <div class="input-group-prepend ">
          <span class="input-group-text btn" (click)="dataByGroups()">Mostrar</span>
        </div> -->
      </div>
    </div>
    <hr>
    <table class="table table-hover m-2 table-bordered p-2" [hidden]="!tableByGroup">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ESTUDIANTE</th>
          <th scope="col">TOTAL BUENAS</th>
          <th scope="col">TOTAL MALAS</th>
          <th scope="col">PUNTAJE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataByGroup of dataByGroupObservable | async">
          <td class="font-weight-bold">{{dataByGroup.name}}</td>
          <td>{{dataByGroup.good}}</td>
          <td>{{dataByGroup.bad}}</td>
          <td>{{dataByGroup.average}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>