<div class="container font-weight-light">

  <div class="mt-5">
    <h1 class="text-light">APRENDIENDO LOS CONCEPTOS BASICOS DE PROGRAMACION </h1>
    <br>
    <h4 class="text-light text-justify">Algoritbuild te hara comprender de manera interactiva los conceptos basicos de
      programación </h4>
    <br>
    <mat-accordion>

      <mat-expansion-panel class="m-1 p-3" (click)="toggleModalOpenEps()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1 class="font-weight-bold">Entrada proceso y salida </h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p class="text-justify">Todo algoritmo debe obedecer a la estructura basica de un sistema; es decir
            entrada,proceso y salida
          </p>
          <div class="col-sm-12 col-md-10">
            <h3 class="font-weight-bold ">Entrada </h3>
            <p class="text-justify">Corresponde al insumo, a los datos necesarios que requiere el proceso para ofrecer
              los resultados
              esperados
            </p>
            <h3 class="font-weight-bold ">Proceso </h3>
            <p class="text-justify">Pasos necesarios para obtener la solución del problema o situación planteada </p>
            <h3 class="font-weight-bold ">Salida</h3>
            <p class="text-justify">Pasos necesarios para obtener la solución del problema o situación
              planteadaResultados arrojados
              del
              proceso o situación </p>

            <img class=""
            src= "https://firebasestorage.googleapis.com/v0/b/algoritbuild-10.appspot.com/o/proceso2%20(1).jpg?alt=media&token=eaf4c184-9dcf-4ccf-9685-86e9a22fec99
            ">

          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="m-1 p-3" (click)="toggleModalOpenCondicional()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1 class="font-weight-bold">Condicionales</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="col-sm-12 col-md-10">

          <p class="text-justify">Un condicional en la programación es una sentencia o grupo de sentencias que puede
            ejecutarse o no en
            función del valor de una condición.

            Los tipos más conocidos de condicionales son el SI (IF) y el SEGÚN (case o switch), aunque también
            podríamos
            mencionar al lanzamiento de errores como una alternativa más moderna para evitar el "anidamiento" de
            condicionales.

            Los condicionales constituyen junto con los bucles los pilares de la programación estructurada, y su
            uso es
            una evolución de una sentencia de lenguaje ensamblador que ejecutaba la siguiente línea o no en
            función del
            valor de una condición.</p>


        </div>
        <div class="col-sm-12 col-md-10">
          <h3 class="font-weight-bold ">Condicional If </h3>
          <p class="text-justify">La sentencia if se utiliza para comprobar una condición y si la condición es verdadera
            entonces
            procesaremos un bloque de sentencias (llamado bloque if), u otro bloque de sentencias alternativas
            (llamado
            bloque else). La cláusula else es opcional. </p>
          <img class=""
            src="https://firebasestorage.googleapis.com/v0/b/algoritbuild-21705.appspot.com/o/if-else.png?alt=media&token=56174aef-8802-4fdc-bb15-3d383e220da1">
          <h3 class="font-weight-bold ">Condicionales anidados </h3>
          <p class="text-justify"> Decimos que una estructura condicional es anidada cuando por la rama del verdadero o
            el falso de una
            estructura condicional hay otra estructura condicional.
            diagrama flujo estructura condicional anidada </p>
          <p class="text-justify">El diagrama de flujo que se presenta contiene dos estructuras condicionales. La
            principal se trata de
            una
            estructura condicional compuesta y la segunda es una estructura condicional simple y está contenida
            por la
            rama del falso de la primer estructura.
            Es común que se presenten estructuras condicionales anidadas aún más complejas.</p>
        </div>

      </mat-expansion-panel>



      <mat-expansion-panel class="m-1 p-3" (click)="toggleModalOpenEps()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1 class="font-weight-bold">Ciclos </h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p class="text-justify">En programación se denomina bucle a la ejecución repetidas veces de
            un mismo conjunto de sentencias. Normalmente en cada nueva ejecución
            varía algún elemento. Para comprender mejor el concepto de bucle
            imaginemos una máquina de tren que parte de la estación "inicio" y viaja
            hasta la estación "final"; cuando el maquinista llega a la estación "final"
            vuelve a la estación "inicio" y así sucesivamente. Cada vuelta que da el
            maquinista es una ejecución o una iteración , en la cual se ejecutan todas las
            instruccion es que hay en el trayecto comprendido entre la estación "inicio" y
            la estación "final". La figura nº1 muestra este concepto.
            
          </p>
          <div class="col-sm-12 col-md-10">
            <img class=""
            src= "https://firebasestorage.googleapis.com/v0/b/algoritbuild-10.appspot.com/o/bucle.png?alt=media&token=725f1a45-5334-4cc2-98d2-3a8cce5e5029">
           
          </div>
          <div class="col-sm-12 col-md-10">
            <h3 class="font-weight-bold ">While</h3>
            <p class="text-justify"> Esta estructura sirve para hacer procesos cíclicos, ejecutar métodos
              repetidamente, hasta que la condición sea verdadera, mientras que esta
              condición no se cumpla, se repite varias veces.
             
              
            </p>
            
            <h3 class="font-weight-bold ">For</h3>
            <p class="text-justify">Este ciclo, es manejado para hacer procesos cíclicos, también para
              generar simple series en java, este ciclo for, tiene un inicio, tiene un fin,
              y tiene un incremento o un decremento  </p>


          </div>
         
        </div>
      </mat-expansion-panel>

    </mat-accordion>

    <!-- modal de entrada proceso y salida   -->
    <div class="modal" [ngClass]="{ 'is-active' : isModalEps}">
      <div class="modal-background" (click)="toggleModalEps()"></div>
      <div class="modal-card">
        <iframe class="mi-iframe" src="https://www.youtube.com/embed/kf9SpgWBVT0" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <!-- modal de condicionales -->
    <!-- auto reproduccion de video ?rel=0&amp;autoplay=1 -->
    <div class="modal" [ngClass]="{ 'is-active' : isModalCondicional }">
      <div class="modal-background" (click)="toggleModalCondicional()"></div>
      <div class="modal-card">
        <iframe class="mi-iframe" src="https://www.youtube.com/embed/6UhuQ7T8JNE" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>