<div class="container font-weight-light">
    <div class="mt-5">
      <h1 class="text-light">Si tu necesitas comprender los conceptos basicos de la programacion </h1>
      <br>
      <h4 class="text-light
      ">Algoritbuild es el aplicativo que buscabas ya que utiliza el juego como estrategia de enseñanza para potenciar 
          el pensamiento algoritmico </h4>

          <div class="container">

                <div class="row">
                  <div class="col-lg-4"  style="background-color:#aaa">
                    <h1 class="font-weight-bold">Mision </h1> 
                    
                  </div>
                  <div class="col-lg-4"  style="background-color:#bbb">
                    <h1 class="font-weight-bold">Vision </h1> 
                    
                  </div>
                  <div class="col-lg-4"  style="background-color:#ccc">
                    <h1 class="font-weight-bold">Desarrolladores</h1> 
                    
                  </div>
                </div>
              </div> 
            
              <div class="container-fluid">
            
                <div class="row">
                  <div class="col-lg-4"  style="background-color:#aaa">
                    <p>Proporcionar las tecnologías innovadoras e interactivas para la educación y el aprendizaje. </p> 
                    
                  </div>
                  <div class="col-lg-4"  style="background-color:#bbb">
                    
                    <p>Queremos convertirnos en su punto de confianza para la innovación en cuanto a educación y aprendizaje, siendo un referente que camina a la vanguardia de la tecnología y los cambios de la sociedad.</p>
                  </div>
                  <div class="col-lg-4"  style="background-color:#ccc">
                    <h1>Saydy Guzman</h1> 
                    <p>Team manager</p>
                    
                    <img class="imgRedonda" src="https://firebasestorage.googleapis.com/v0/b/algoritbuild-21705.appspot.com/o/IMG_20180721_084722_707.jpg?alt=media&token=0e013465-442a-4007-a5b9-65f946302ca6" >
                    <h1>Santiago Alvarez</h1> 
                    <p>Team </p>
                    <img class="imgRedonda" height="20px" src="https://firebasestorage.googleapis.com/v0/b/algoritbuild-21705.appspot.com/o/%C3%ADndice.jpg?alt=media&token=a43c8802-14d9-4dee-80c2-d941c14ba242" >
                  </div>
                </div>
            
              </div> 
            
           
              
    </div>

  </div>

