<!-- <h2>hola</h2> -->
<!-- <iframe class="embed-responsive-item m-2" height="440px" width="1000px" src="https://www.dailymotion.com/embed/video/x2bt3wz?autoplay=0"
    allowfullscreen allow="autoplay"></iframe> -->


<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.dailymotion.com/embed/video/x2bt3wz?autoplay=0"></iframe>
</div>

<p class="container text-justify ">
    llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore similique omnis eos consectetur. Earum
    necessitatibus, iste rerum libero maiores odio ad ea. Quis ullam commodi iusto asperiores, incidunt provident
    voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, est nesciunt explicabo doloremque ex, aut sapiente
    temporibus asperiores dignissimos cupiditate soluta esse. Fugit perferendis quae vitae dolores modi, minus quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ad natus sit eveniet molestias repudiandae sed eum,
    quod recusandae perferendis, eius aut excepturi inventore quos commodi. Consequatur cupiditate quas ex. voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, est nesciunt explicabo doloremque ex, aut sapiente
    temporibus asperiores dignissimos cupiditate soluta esse. Fugit perferendis quae vitae dolores modi, minus quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ad natus sit eveniet molestias repudiandae sed eum,
    quod recusandae perferendis, eius aut excepturi inventore quos commodi. Consequatur cupiditate quas ex. voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, est nesciunt explicabo doloremque ex, aut sapiente
    temporibus asperiores dignissimos cupiditate soluta esse. Fugit perferendis quae vitae dolores modi, minus quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ad natus sit eveniet molestias repudiandae sed eum,
    quod recusandae perferendis, eius aut excepturi inventore quos commodi. Consequatur cupiditate quas ex. voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, est nesciunt explicabo doloremque ex, aut sapiente
    temporibus asperiores dignissimos cupiditate soluta esse. Fugit perferendis quae vitae dolores modi, minus quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ad natus sit eveniet molestias repudiandae sed eum,
    quod recusandae perferendis, eius aut excepturi inventore quos commodi. Consequatur cupiditate quas ex. voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, est nesciunt explicabo doloremque ex, aut sapiente
    temporibus asperiores dignissimos cupiditate soluta esse. Fugit perferendis quae vitae dolores modi, minus quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ad natus sit eveniet molestias repudiandae sed eum,
    quod recusandae perferendis, eius aut excepturi inventore quos commodi. Consequatur cupiditate quas ex. voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, est nesciunt explicabo doloremque ex, aut sapiente
    temporibus asperiores dignissimos cupiditate soluta esse. Fugit perferendis quae vitae dolores modi, minus quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ad natus sit eveniet molestias repudiandae sed eum,
    quod recusandae perferendis, eius aut excepturi inventore quos commodi. Consequatur cupiditate quas ex. voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, est nesciunt explicabo doloremque ex, aut sapiente
    temporibus asperiores dignissimos cupiditate soluta esse. Fugit perferendis quae vitae dolores modi, minus quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ad natus sit eveniet molestias repudiandae sed eum,
    quod recusandae perferendis, eius aut excepturi inventore quos commodi. Consequatur cupiditate quas ex. voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, est nesciunt explicabo doloremque ex, aut sapiente
    temporibus asperiores dignissimos cupiditate soluta esse. Fugit perferendis quae vitae dolores modi, minus quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ad natus sit eveniet molestias repudiandae sed eum,
    quod recusandae perferendis, eius aut excepturi inventore quos commodi. Consequatur cupiditate quas ex. voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, est nesciunt explicabo doloremque ex, aut sapiente
    temporibus asperiores dignissimos cupiditate soluta esse. Fugit perferendis quae vitae dolores modi, minus quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ad natus sit eveniet molestias repudiandae sed eum,
    quod recusandae perferendis, eius aut excepturi inventore quos commodi. Consequatur cupiditate quas ex. voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, est nesciunt explicabo doloremque ex, aut sapiente
    temporibus asperiores dignissimos cupiditate soluta esse. Fugit perferendis quae vitae dolores modi, minus quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ad natus sit eveniet molestias repudiandae sed eum,
    quod recusandae perferendis, eius aut excepturi inventore quos commodi. Consequatur cupiditate quas ex. voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, est nesciunt explicabo doloremque ex, aut sapiente
    temporibus asperiores dignissimos cupiditate soluta esse. Fugit perferendis quae vitae dolores modi, minus quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ad natus sit eveniet molestias repudiandae sed eum,
    quod recusandae perferendis, eius aut excepturi inventore quos commodi. Consequatur cupiditate quas ex.
</p>