<div class="container font-weight-light">
  <div class="mt-5">
    <h1 class="text-light">Si tu necesitas comprender los conceptos basicos de la programacion </h1>
    <br>
    <h4 class="text-light
      ">Algoritbuild es el aplicativo que buscabas ya que utiliza el juego como estrategia de enseñanza para potenciar el pensamiento
      algoritmico </h4>

    <div class="container">

      <div class="row">
        <div class="col-lg-6" style="background-color:#aaa">
          <h1 class="font-weight-bold">Mision </h1>

        </div>
        <div class="col-lg-6" style="background-color:#bbb">
          <h1 class="font-weight-bold">Vision </h1>

        </div>
        
      </div>
    </div>

    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-6" style="background-color:#aaa">
          <p class="text-justify">Proporcionar las tecnologías innovadoras e interactivas para la educación y el aprendizaje. </p>

        </div>
        <div class="col-lg-6" style="background-color:#bbb">

          <p class="text-justify">Queremos convertirnos en su punto de confianza para la innovación en cuanto a educación y aprendizaje, siendo un
            referente que camina a la vanguardia de la tecnología y los cambios de la sociedad.</p>
        </div>
        
      </div>

    </div>



  </div>

</div>






























<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1"> TEAM</h5>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class=" img-fluid" src="https://firebasestorage.googleapis.com/v0/b/algoritbuild-10.appspot.com/o/JIMENEZ-TOLEDO-JAVIER-ALEJANDRO.jpg?alt=media&token=20867e59-2527-47cf-88b5-fb4728650518" alt="card image">
                  </p>
                  <h4 class="card-title">Javier Alejandro Jiménez Toledo</h4>
                  <p class="card-text">Scrum Master</p>
                  <a href="#" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Función </h4>
                  <p class="card-text"> lider del equipo en la gestión ágil de proyectos. Su misión es que el equipo de trabajo alcance sus objetivos hasta llegar a la fase de “sprint final”, eliminando cualquier dificultad que puedan encontrar en el camino</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class=" img-fluid" src="https://firebasestorage.googleapis.com/v0/b/algoritbuild-10.appspot.com/o/52063616_2225671107497879_5689709667123462144_n.jpg?alt=media&token=f6ea177c-644e-465a-9c25-48a554d96065" alt="card image">
                  </p>
                  <h4 class="card-title">Erika Daniela Reyes Cuaran</h4>
                  <p class="card-text">Scrum Developers</p>
                  <a href="#" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Funcion </h4>
                  <p class="card-text">encargad del desarrollo del producto, auto-organizándose y auto-gestionándose para conseguir entregar un incremento de software al final del ciclo de desarrollo.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class=" img-fluid" src="https://firebasestorage.googleapis.com/v0/b/algoritbuild-21705.appspot.com/o/IMG_20180721_084722_707.jpg?alt=media&token=0e013465-442a-4007-a5b9-65f946302ca6">
                  </p>
                  <h4 class="card-title">Saydy Fernanda Tumal Guzman </h4>
                  <p class="card-text">Scrum Owner y Scrum Developer </p>
                  <a href="#" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Funciones</h4>
                  <p class="card-text">Representante de lso accionistas y clientes que usan el software. Se focaliza en la parte de negocio y el es responsable del ROI del proyecto (entregar un valor superior al dinero invertido). Traslada la visión del proyecto al equipo,</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      
      <!-- ./Team member -->
    </div>
  </div>
</section>