<div class="row font-weight-light">
  <div class="col-8 offset-2 shadow p-3 mb-5 bg-white">

    <mat-form-field class="example-full-width col-12">
      <input matInput placeholder="Título de la encuesta" [(ngModel)]="test.title">
    </mat-form-field>

    <mat-form-field class="example-full-width col-12">
      <textarea matInput placeholder="Descripción y objetivo de la encuesta" [(ngModel)]="test.description"></textarea>
    </mat-form-field>


    <div class="d-flex">
      <div class="mr-auto">
        <a (click)="addQ()">
          <fa-icon icon="plus"></fa-icon> Agregar pregunta
        </a>
      </div>
    </div>

    <div class="example-container" *ngIf="add">
      <mat-form-field class="wt">
        <input matInput placeholder="Pregunta">
      </mat-form-field>

      <mat-form-field class="wt">
        <mat-select placeholder="Tema">
          <mat-option *ngFor="let item of themes | async" value="{{item.theme}}">{{item.theme}}</mat-option>
          <mat-option (click)="openModal()">Agregar tema</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- inicio modal -->
    <div class="modal" [ngClass]="{ 'is-active' : modal }">
      <div class="modal-background" (click)="openModal()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <button class="delete" aria-label="close" (click)="openModal()"></button>
        </header>
        <section class="modal-card-body">

          <mat-form-field class="example-full-width col-12">
            <input matInput placeholder="Tema" [(ngModel)]="typeQuestion.theme">
          </mat-form-field>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" (click)="setTypeQuestion()">Crear</button>
          <button class="button" (click)="openModal()">Cancelar</button>
        </footer>
      </div>
    </div>
    <!-- fin modal -->

    <mat-divider class="mt-2"></mat-divider>

    <!-- preguntas -->
    <div class="bg-white pt-3">
      <button>add</button>

      <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
        <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>

    </div>
    <!-- fin preguntas -->

  </div>


  <!-- Boton de guargar encuesta -->
  <mat-list>
    <mat-list-item>
      <button mat-mini-fab class="m-1" (click)="setAction()">
        <fa-icon icon="{{icon}}"></fa-icon>
      </button>
    </mat-list-item>

    <mat-list-item>
      <button mat-mini-fab color="primary" class="m-1" (click)="close()">
        <fa-icon icon="times"></fa-icon>
      </button>
    </mat-list-item>

  </mat-list>
  <!-- fin guardar encuesta -->


</div>