@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import 'bulma/css/bulma.css'; */
/* @import 'materialize-css/dist/css/materialize.min.css'; */


body {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/algoritbuild-21705.appspot.com/o/background.jpg?alt=media&token=c5dc888d-1156-495c-8001-70ef84af890b");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 5px;
}

.bg-black{

    background-color: rgba(0, 0, 0, 0.970);
}
