<div class="col-8 offset-2 shadow p-3 mb-5 bg-white">

  <mat-form-field class="example-full-width col-12">
    <input matInput placeholder="Título de la encuesta" [(ngModel)]="test.title">
  </mat-form-field>

  <mat-form-field class="example-full-width col-12">
    <textarea matInput placeholder="Descripción y objetivo de la encuesta" [(ngModel)]="test.description"></textarea>
  </mat-form-field>

  <mat-divider class="mt-3 mb-5" (click)="getDataEdit()"></mat-divider>
  
  <div *ngFor="let item of themes | async">
    <h1>{{item.theme}}</h1>
  </div> 
  <div *ngFor="let item of questions | async">
    <h1 >{{item.question}}</h1>
  </div>
  <div *ngFor="let answer of answers | async">
    <p class="bg-primary m-1">{{answer[1551300945575].answer}}</p>
  </div>

  <!-- <div *ngFor="let test of testList">
    <div class="shadow-lg p-3 mb-3 rounded bg-success ">
      <a class="close " aria-label="Close">
        <span class="text-light" aria-hidden="true" (click)="deleteTest(test)">&times;</span>
      </a>
      <div class="row p-1">
        <p class="col-sm-4 text-light">
          {{test.title}}
        </p>
        <div class="input-group col-sm-8">
          <input type="text" class="form-control" placeholder="Tema" aria-label="Tema a evaluar"
            [(ngModel)]="theme.theme">
          <div class="input-group-append">
            <button class="btn btn-outline-light " type="button" (click)="saveTheme(theme, test.id)">Crear tema</button>
          </div>
        </div>
      </div>
      <hr>

       listar los temas correspondientes a cada test 

      <ng-container *ngFor="let theme of themeList">
        <div class="p-3 mb-3 rounded bg-info" *ngIf="theme.testId == test.id">
          <a class="close " aria-label="Close">
            <span class="text-light" aria-hidden="true" (click)="deleteTheme(theme)">&times;</span>
          </a>
          <div class="row">

            <div class="col-sm-4">
              {{theme.theme}}

            </div>
            <div class="input-group col-sm-8">
              <input type="text" class="form-control" placeholder="Pregunta"
                aria-label="Pregunta relacionada con el tema" [(ngModel)]="question.question">
              <div class="input-group-append">
                <button class="btn btn-outline-light " type="button" (click)="saveQuestion(question, theme.id)">Crear
                  pregunta</button>
              </div>
            </div>
          </div>
          <hr>
          <ng-container *ngFor="let question of questionList">
            <div class="p-3 mb-3 rounded bg-dark text-light" *ngIf="question.themeId == theme.id">
              <a class="close " aria-label="Close">
                <span class="text-light" aria-hidden="true" (click)="deleteQuestion(question)">&times;</span>
              </a>
              <div class="row">
                <div class="col-sm-4">
                  ¿ {{question.question}} ?.
                </div>
                <div class="input-group col-sm-8">
                  <input type="text" class="form-control" placeholder="Respuesta"
                    aria-label="Respuesta relacionada con el tema" [(ngModel)]="answer.answer">
                  <div class="input-group-append">
                    <button class="btn btn-outline-light " type="button" (click)="saveAnswer(answer, question.id)">Crear
                      respuesta</button>
                  </div>
                </div>
              </div>
              <hr>
              <ng-container *ngFor="let answer of answerList">
                <div class="input-group " *ngIf="answer.questionId == question.id">
                  <div class="text-primary btn btn-lg  text-align-left" *ngIf="answer.status" (click)="status(answer)">
                    <input type="radio" checked> {{answer.answer}}
                  </div>
                  <div class="text-danger btn btn-lg  text-align-left" *ngIf="!answer.status" (click)="status(answer)">
                    <input type="radio"> {{answer.answer}}
                  </div>
                  <small class="text-danger btn ml-auto" (click)="deleteAnswer(answer)">Eliminar respuesta</small>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div> -->
</div>